
//@font-face {
//    font-family: 'Subway';
//    src: url('/fonts/torontosubwaybold-webfont.eot');
//    src: url('/fonts/torontosubwaybold-webfont.eot?#iefix') format('embedded-opentype'),
//         url('/fonts/torontosubwaybold-webfont.woff') format('woff'),
//         url('/fonts/torontosubwaybold-webfont.ttf') format('truetype'),
//         url('/fonts/torontosubwaybold-webfont.svg#toronto') format('svg');
//    font-weight: normal;
//    font-style: normal;
//}
@font-face {
    font-family: 'Abbey Road';
    src: url('/fonts/AbbeyRoadNF.eot');
    src: url('/fonts/AbbeyRoadNF.eot?#iefix') format('embedded-opentype'),
         url('/fonts/AbbeyRoadNF.woff') format('woff'),
         url('/fonts/AbbeyRoadNF.ttf') format('truetype'),
         url('/fonts/AbbeyRoadNF.svg#toronto') format('svg');
    font-weight: normal;
    font-style: normal;
}
//@font-face {
//    font-family: 'icomoon';
//    src: url('/fonts/d2eicons.eot');
//    src: url('/fonts/d2eicons.eot?#iefix') format('embedded-opentype'),
//        url('/fonts/d2eicons.woff') format('woff'),
//        url('/fonts/d2eicons.ttf') format('truetype'),
//        url('/fonts/d2eicons.svg') format('svg');
//    font-weight: normal;
//    font-style: normal;
//} 
