.tegeltjesthumbs() {
    ul.thumbs {
    
        display: flex;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
            
        &, li {
            list-style: none;
            margin: 0;
            padding: 0;
        }
        
        li {
            flex-grow: 1;
            width: 50%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            padding: .2em;
        }
        
        a {
            overflow: hidden;
            display: block;
            margin: 0;
            padding: 0;
            line-height: 1;
            
            span {
                .visuallyhidden();                
            }
        }
    }
    #andere {
        margin-bottom: 1em;
        p {
            font-size: 150%;
            text-align: center;
        }
        .thumbnav {
        }
        .nextpage {
            right: 0;
        }
        .previouspage {
            left: 0;
        }
            
    }
        
    #alle_tegeltjes {
        display: flex;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
        
        section {
            flex-grow: 1;
            width: ( 100% / 2 );
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            padding: .2em;
            
            
            h2, p, span {
                font-size: 100%;
            }
            
            span {
                display: block;
            }
            
        }        
    }
    #alle_tegeltjes,
    ul.thumbs {
        img {
            width: 100%;
            height: auto;
            display: block;
            margin: 0;
            padding: 0;
        }
    }
    
    
    @media only screen and (min-width: ( @tabletwidth - 100 ) ) {
        ul.thumbs {
            border: 10px solid green;
            li {
                width: ( 100% / 3 );
            }
        }
    }
    @media only screen and (min-width: ( @tabletwidth + 1 ) ) {
        #alle_tegeltjes {
            section {
                width: ( 100% / 4 );
            }
        }
        ul.thumbs {
            border-color: blue;
            li {
                width: ( 100% / 4 );
            }
        }
    }
    @media only screen and (min-width: ( @tabletwidth + 300 ) ) {
        ul.thumbs {
            border-color: yellow;
            li {
                width: ( 100% / 5 );
            }
        }
    }
    @media only screen and (min-width: @desktopwidth) {
        #alle_tegeltjes {
            section {
                width: ( 100% / 4 );
            }
        }
        ul.thumbs {
            border-color: fuchsia;
            li {
                width: ( 100% / 4 );
            }
        }
    
        #controlnavigation {
          overflow: hidden;
          border: 10px solid green;
    
          fieldset {
            position: static;
            padding-bottom: 0;
          }
      
          .linkerknop,
          .rechterknop {
            position: static;
          }
    
          .linkerknop,
          .rechterknop,
          .middenlijst {
            display: inline-block;
            float: left;
            clear: none;
          }
      
          .linkerknop,
          .rechterknop {
            &, button {
              width: @paging_button_width;
              padding-left: 0;
              padding-right: 0;
              margin: 0;
            }
            button {
              height: @paging_button_width;
              padding: 0;
              margin-top: 0;
            }
          }
          
      
          &.vorige {
            .middenlijst {
              padding-left: 1em;
              width: ~"calc(100% - @{paging_button_width} )";
            }
          }
          &.volgende {
            .middenlijst {
              padding-right: 1em;
              width: ~"calc(100% - @{paging_button_width} )";
            }
          }
          &.vorige.volgende {
            .middenlijst {
              width: ~"calc(100% - @{middenwidth_2x} )";
            }
          }
        }         
        
    }
    @media only screen and (min-width: ( @desktopwidth + 300 ) ) {
        ul.thumbs {
            border-color: yellow;
            li {
                width: ( 100% / 5 );
            }
        }
    }
    @media only screen and (min-width: @desktopxlwidth) {
        ul.thumbs {
            border-color: aqua;
            li {
                width: ( 100% / 6 );
            }
        }
    }
}