
.load-header() {

	header.header {
		padding-bottom: 0;
		position: relative;

		h1, p {
			line-height: 1;
			margin: 0;
			font-family: @headerfont;
			font-size: 16px;
			overflow: hidden;
			float: none;
			clear: both;
			padding: 0;
			
			a {
				text-decoration: none;
				&:hover, &:active, &:focus {
					text-decoration: underline;
				}
			}
		}
		span {
			float: left;
			display: inline-block;
			white-space: nowrap;
		}
		#top {
			a {
		        &:before {

		            background: transparent url('/img/wbvb-logo.png') no-repeat right center;
		            background-image: url('/img/wbvb-logo.svg'), none;
		            background-size: contain;

			        height: 30px;
			        width: 45px;
			        content: ' ';
			        display: inline-block;
			        float: left;
					margin-right: @padding;
		        }				
			}
			&, a, h1 {
				color: @txt;
				line-height: 1.625;
				text-transform: uppercase;
			}
		}
		#menu {
			position: absolute;
			background: @wit;
			
			width: 95%;
			overflow: hidden;
			div {
			    width: 25%;
			    float: left;
			}
			#footer-zoeken {
			    width: 49%;
			}
		}
	}

	@media only screen and (max-width: @tabletwidth) {
	
		header.header {
			position: fixed;
			z-index: 999;
			width: 100%;
			padding-bottom: 0;
			box-shadow: 1px 1px 3px #eee inset;
			top: 0;
			left: 0;
			
		    
		    &  + article {
				margin-top: 30px;
		    }
	    }
	    
	}

	@media only screen and (min-width: @tabletwidth) {
		header.header {
			padding-right: ( @padding * 7 );
		}
	}
	@media only screen and (min-width: ( @tabletwidth +  ( @padding * 7 ) ) ) {
		header.header {
	
			#top {
				a {
			        &:before {
					    height: 45px;
					    width: 85px;
				    }
			    }
		    }
			
			h1, p {
				font-size: 32px;
			}
		}
	}
}
