
.breakpoints() {
    #header_and_counter,
    a.placeholder {
        float: none;
        overflow: hidden;
        width: 100%;
        margin: 0 0 1em 0;
    }
    
    a.placeholder img {
        width: 100%;
        height: auto !important;
        margin-bottom: 1em;
    }

    .js-menu.active {

      width: 95%;
      padding: 0 0 .5em 0;
      overflow: hidden;

      
      #tomenu,
      #bovenkant {
        .visuallyhidden();
      }
    }
    
    // ===================================================================================================================
    
    @media only screen and (max-width: @tabletwidth) {
    
        body {
            font-size: 12px;
        }
    }
    // ===================================================================================================================
    
    
    @media only screen and (min-width: @tabletwidth) {
    
        body {
            font-size: 14px;
            padding-top: 1em;
        }
        footer {
            div {
                float: left;
                clear: none;
            }
        }
        .tegeltje {
            border:1px #f00;
        }
        .dojs .rating {
            &:not(:checked) > label {
                font-size: 200%;
            }
        }
        
        footer {
            #tomenu {
                display: block;
            }
        }

      .menu-button {
          right: ( 1 * @padding );
          top: ( 2 * @padding );
      }

    }

    // ===================================================================================================================
    
    @media only screen and (min-width: ( @desktopwidth - 300 ) ) {
        
        @currentblockwidth: ( 100vw - ( 1 * @gutter ) );
        @scoreblock: 30vw;
        @placeholder_width: ( @currentblockwidth - ( @scoreblock + ( 6 * @gutter ) ) );
        article, section#andere, #alle_tegeltjes, footer, header.header {
            margin: 0 auto;
            width: @currentblockwidth;
        }
        article, section#andere, footer {
//            margin-bottom: @padding;
        }
        #header_and_counter,
        a.placeholder {
            float: left;
            display: inline-block;
        }
        a.placeholder {
            width: @placeholder_width;
        }
        #header_and_counter {
            width: @scoreblock;
            margin-left: @gutter;
            .tekstveld input:focus + [role="tooltip"] {
                 font-size: 60%;
            }
            
        }
        .dojs .resultaat .social-media {
            margin-bottom: 3em;
        }
    }
    
    // ===================================================================================================================
    
    @media only screen and (min-width: @desktopwidth) {
        body {
            font-size: 18px;
            padding-top: 1em;
        }
        
        .dojs {
            .menu-button {
                .visuallyhidden();
            }
        }
        @currentblockwidth: ( 100vw - ( @menuwidth + ( 2 * @gutter ) ) );
        @scoreblock: 30vw;
        @placeholder_width: ( @currentblockwidth - ( @scoreblock + ( 3 * @gutter ) ) );
        article, section#andere, #alle_tegeltjes, footer, header.header {
            margin: 0;
            margin-left: @gutter;
            margin-right: @menuwidth;
            width: @currentblockwidth;
        }
        article, section#andere, footer {
            margin-bottom: @padding;
        }
        #header_and_counter,
        a.placeholder {
            float: left;
            display: inline-block;
        }
        a.placeholder {
            width: @placeholder_width;
        }
        #header_and_counter {
            width: @scoreblock;
            margin-left: @gutter;
        }
        footer {
            position: fixed;
            margin: 0;
//            width: ( @menuwidth - ( @gutter + @padding ) ) !important;
            width:  ( @menuwidth - @gutter ) !important;
            top: @padding;
            right: @gutter;
            
            #totop {
              position: fixed;
              right: @padding;
              bottom: @padding;
              background: white;
              color: @txt;
              padding: 1em;
              z-index: 999;
              display: block;
              width: 120px;
              height: 120px;
            }
            
            #tomenu, .js-header {
                .visuallyhidden();
            }
            ul li {
                display: block;
                float: none;
            }
            h3 {
                font-family: @bodyfont;
                color: @txt;
                font-size: 80%;
            }
        }
        article {
            overflow: hidden;
        }
    }
    
    // ===================================================================================================================
    
    @media only screen and (min-width: @desktopxlwidth) {
    

    
        .tegeltje {
            header.header {
                position: fixed;
                left: @button_p_left;
                top: @homelink_xl_top;
                height: @homelink_xl_height;
                width: @homelink_xl_width;
                margin: 0;
                padding: @padding;
                
                #top {
                    display: flex;
                    flex-direction: column-reverse;
                    flex-wrap: wrap;
                    align-items: stretch;
                    height: 100%;
                    
                    
                    &:before {
                        display: none;
                    }
                    a {
                        flex: 1;
                        align-self: stretch;
                        background: url(/img/tegelizr-logo.png) no-repeat center center;
                        background-size: cover;
                        font-size: 150%;
                        text-transform: capitalize;
                        
                        span {
                            .visuallyhidden();
                        }
                        &:hover, &:active, &:focus {
                            background: none;
                            margin: 4px;
                            position: relative;

                            span {
                                text-align: center;
                                position: absolute;
                                top: 40%;
                                font-size: 40px;
                                margin-top: -25%;
                                display: block;
                                clip: auto;
                                height: auto;
//                                margin: auto;
                                overflow: inherit;
                                padding: inherit;
//                                position: inherit;
                                width: 100%;
                                
                            }
                        }
                    }
                }
            }
            header.header, article {
                border-radius: @borderradius;
            }
        }

            
//        .modal-window-large();

        @currentblockwidth: ( 100vw - ( @menuwidth + @buttonwidth + ( 3 * @gutter ) ) );
        @scoreblock: 20vw;
        @placeholder_width: ( @currentblockwidth - ( @scoreblock + ( 3 * @gutter ) ) );
        article, section#andere, #alle_tegeltjes, footer, header.header {
            width: @currentblockwidth;
            margin-left: ( @buttonwidth + ( 2 * @gutter ) );
        }
        #header_and_counter,
        a.placeholder {
        }
        a.placeholder {
            width: @placeholder_width;
            float: left;
        }
        #header_and_counter {
            width: @scoreblock;
        }
    
    }
    // ===================================================================================================================
}
    