.DS_Store
.idea/

*.codekit
*.codekit3
config.codekit
config.codekit3

*.html
*.iml
*.json
!composer.json
*.log
*.map
*.zip
/vendor

tegelizr.test.crt
tegelizr.test.key

alle-tegeltjes_index.txt
alle-tegeltjes/index.txt
archief/index-table.html
archief/index.txt
google07c653d0eb7815ba.html
img/jagpoint-logo.png
includes/style/hmd/hmd-new.png
includes/woordenschat.php
ip_blackbook_v3.json
rating/
README.html
sitemap.txt

# ignore actual images of tegeltjes
tegeldb/*
tegeltjes/*
thumbs/*
deleted_files/*

## files for activating / deactivating tegel generation
includes/tegelizr-status.php
